[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".\\bundle\\unimpaired"]
	path = .\\bundle\\unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
