[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = dirty
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/wycats/nerdtree.git
	ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/ddollar/nerdcommenter.git
	ignore = dirty
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/xenolinguist/syntastic.git
	ignore = dirty
[submodule "bundle/irblack"]
	path = bundle/irblack
	url = https://github.com/wgibbs/vim-irblack.git
	ignore = dirty
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
	ignore = dirty
[submodule "bundle/vimerl"]
	path = bundle/vimerl
	url = https://github.com/oscarh/vimerl.git
	ignore = dirty
[submodule "bundle/rebar"]
	path = bundle/rebar
	url = https://github.com/asynchrony/vim-rebar.git
	ignore = dirty
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
	ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
	ignore = dirty
